.leftToolBar{
    display: flex;
    flex-direction: column;
    width: 15%;
}
.iconsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    h1{
        color: white;
        font-size: 1vw;
    }
}
.iconClapper{
    font-size: 2vw;
    color: rgb(243, 46, 46);
    margin-right: 0.5vw;
}