.filmContainer{
    display: flex;
    background-color: rgb(53, 53, 53);
    width: 20vw;
    height: 30vw;
    border-radius: 20px;
    margin-left: 2vw;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    img{
        width: 20vw;
        height: 20vw;
    }
}